---

import fractal2 from '../assets/videos/fractal-loop-animation.mp4'
import robotSpinning from '../assets/videos/robot-spinning.mp4';
import weTurn from '../assets/videos/we-turn.json?url';
import weTurnCustomers from '../assets/videos/we-turn-customers.json?url';

import globe from '../images/reduced/5-(WHITE).png';
import arrow from '../images/arrow-scroll.png';
import prism from '../images/15(WHITE).png';
import decor from '../images/6(WHITE).png';

import { Image } from 'astro:assets';

---


<div class="flex relative h-svh flex-col justify-between ">
    <video class="absolute z-0 object-cover w-full h-full" src={fractal2} autoplay loop muted></video>
    <div class="h-auto px-6 pb-4 pt-28 sm:pt-36 sm:px-36 sm:pb-0 flex flex-col ">
        
            <div class=" h-auto flex flex-col justify-center">
                <div class=" relative h-auto flex justify-center sm:mb-8">
                    <div class="text-[clamp(48px,4vw,128px)] leading-tight
                     relative z-10 flex w-full flex-col items-center gap-6 sm:gap-4 ">
                        <div class="flex gap-4 sm:gap-12 sm:pr-80 items-center hero-line-1">
                            <span class=" font-glancyrThin box-shadow2">WE</span> 
                            <span class=" font-glancyrLightItalic box-shadow2"><div data-cursor="pointer2" class="flex p-0 justify-center ">
                                <button class="btn bg-transparent w-[clamp(80px,26vw,650px)] h-[clamp(80px,6vw,160px)]  overflow-hidden text-[clamp(48px,4vw,128px)]">
                                    <div class="btn__bg">
            <span class="btn__bg__layer btn__bg__layer-first"></span>
            <span class="btn__bg__layer btn__bg__layer-second"></span>
            <span class="btn__bg__layer btn__bg__layer-third"></span>
          </div>
                                    <span class="btn__text-out text-white box-shadow2 ">CREATE</span>
                                    <span class="btn__text-in text-white box-shadow2">CREATE</span>
                                </button>
                            </div></span>
                        </div>
                        <div class=" flex gap-2 sm:pl-72 items-center hero-line-1 ">
                            <span class=" size-[clamp(20px,2.8vw,68px)] mb-3 sm:mr-2">

                                <svg viewBox="0 0 65 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M37.5512 5.24426L60.7989 33.8825L47.6234 49.3495L37.5512 61.1734" stroke="#A7EF37" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M4.26314 4.80627L27.5109 33.4445L14.3354 48.9116L4.26314 60.7354" stroke="#A7EF37" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                            
                            </span> 
                            <span class=" font-glancyrThin gradient-main text-transparent bg-clip-text ">RE<span class=" font-glancyrThinItalic">M</span>ARKABLE</span>
                        </div>
                        <div class=" flex gap-2 sm:gap-5 sm:pr-[19rem] hero-line-1">
                            <span class=" font-glancyrThin box-shadow3 ">DIGITAL</span> 
                            <span>
                                <img class=" h-[clamp(40px,3.7vw,96px)] w-[clamp(64px,6vw,144px)]" src={globe.src} alt=""/>
                            </span>
                        </div>
                        <div class="flex w-full items-center justify-center gap-[clamp(14px,2vw,36px)]">
  <!-- Left text -->
  <div class="hero-line-5 w-[clamp(260px,17vw,430px)] text-center font-glancyrLight text-[clamp(8px,1vw,24px)] leading-[1.15]">
    <div>
      ICY STUD<span class="text-neon-green font-glancyrLightItalic">I</span>O IS AN
      <span class="underline">AWARD-WINNING</span>
    </div>

    <div class="flex items-center justify-center gap-[clamp(4px,0.5vw,10px)]">
      <div class="gradientMultiDisciplinary flex flex-col bg-clip-text text-[clamp(4px,0.6vw,18px)] leading-[1.05] text-transparent text-right">
        <div>MULTI</div>
        <div>DISCIPLINARY</div>
      </div>

      <div class="flex items-center">
        <div class="gradientSecondary bg-clip-text text-transparent">DESIGN</div>
        &nbsp;<span>&</span>&nbsp;
        <div class="gradientSecondary2 bg-clip-text text-transparent">DEVELOPMENT</div>
      </div>
    </div>

    <div>
      AGENCY LOCATED IN FLORIDA, USA
    </div>
  </div>

  <!-- Center divider -->
  <div class="hero-line-5 h-[clamp(28px,4vw,128px)] w-[1px] bg-white/70"></div>

  <!-- Right text -->
  <div class="hero-line-1 font-glancyrThinItalic text-[clamp(48px,4vw,128px)] leading-[0.8] box-shadow4">
    SOLUTIONS<span class="text-blush-red">.</span>
  </div>
</div>
                    </div>
                </div>


            </div>
    
    </div>

    
    <div data-cursor="pointer2" class="flex p-0 justify-center hero-button-1 ">
        <button class="btn bg-transparent h-16 w-72 text-2xl sm:h-20 sm:w-[500px] sm:text-4xl">
            <div class="btn__bg">
            <span class="btn__bg__layer btn__bg__layer-first"></span>
            <span class="btn__bg__layer btn__bg__layer-second"></span>
            <span class="btn__bg__layer btn__bg__layer-third"></span>
          </div>
            <span class="btn__text-out text-white font-glancyrLight">LET'S CREATE MAGIC!</span>
            <span class="btn__text-in text-white font-glancyrLight">LET'S CREATE MAGIC!</span>
        </button>
    </div>

    <div class=" w-full h-auto relative z-10  ">
        <div class="flex text-xs sm:text-xl items-center justify-between px-6 sm:px-12  py-6">
            <div class="flex items-center gap-2 sm:gap-12 ">
                <span class=" font-glancyrThin" > EST. 2020</span> 
                <div class="flex items-center">
                    <img src={arrow.src} class=" size-4 sm:size-6" alt=""/>
                    <span class=" font-glancyrRegular"> SCROLL </span> 
                </div>
            </div>
            <div>
                <img src={prism.src} class=" h-10 w-5 sm:h-12 sm:w-6" alt=""/>
            </div>
        </div>
        <div class=" h-auto px-6 sm:px-12  relative z-10">
            <div class=" bg-border-white h-[1px]">
            </div>
        </div>
    </div>

    


</div> 

<div class="h-auto px-5 pb-10 sm:px-20 sm:pb-0 flex flex-col overflow-hidden"> 
    <div class= " flex h-auto flex-col sm:flex-row mb-6 sm:mb-32 ">
        <div >
            <div class="mb-0 hero-line-2 ">
                <div class=" flex sm:left-[900px] relative top-4 z-10 sm:top-12 ">
                    <div class="relative z-20 top-16 sm:top-16 ">
                            <dotlottie-player class=" rotate-[-35deg] sm:rotate-[-25deg] w-[139px] h-[100px] sm:w-[239px] sm:h-[186px]"  src={weTurn} background="transparent" 
                                 speed="1"  loop autoplay></dotlottie-player>
                            
                    </div>
                    <div id='circle' class= " text-white font-glancyrLight text-base sm:mb-0 mb-6" 
                    data-text="• WE TURN • WE TURN • WE TURN • WE TURN ">
                        <div id="inner-circle" class="bg-clip-content outline outline-1 outline-neon-green">
                            <svg class="" width="108" height="108" viewBox="0 0 118 118" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_72_1932" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="118" height="118">
                                <path d="M59 0.355591C91.3659 0.355591 117.644 26.6342 117.644 59C117.644 91.3659 91.3659 117.644 59 117.644C26.6342 117.644 0.355591 91.3659 0.355591 59C0.355591 26.6342 26.6342 0.355591 59 0.355591Z" fill="#3F3F3F"/>
                                </mask>
                                <g mask="url(#mask0_72_1932)">
                                <mask id="mask1_72_1932" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-19" y="-19" width="156" height="156">
                                <path d="M-19 -19H137V137H-19V-19Z" fill="white"/>
                                </mask>
                                <g mask="url(#mask1_72_1932)">
                                <path d="M137 -19H-19V137H137V-19Z" fill="black"/>
                                <path d="M65.4293 45.3282C65.8897 45.3282 66.2635 45.702 66.2635 46.1624C66.2635 46.6228 65.8897 46.9966 65.4293 46.9966C64.9689 46.9966 64.5951 46.6228 64.5951 46.1624C64.5951 45.702 64.9689 45.3282 65.4293 45.3282Z" fill="white"/>
                                <path d="M40.6541 55.0881C41.1145 55.0881 41.4883 55.4619 41.4883 55.9223C41.4883 56.3827 41.1145 56.7565 40.6541 56.7565C40.1938 56.7565 39.82 56.3827 39.82 55.9223C39.82 55.4619 40.1938 55.0881 40.6541 55.0881Z" fill="white"/>
                                <path d="M29.8932 36.3191C30.3536 36.3191 30.7274 36.6929 30.7274 37.1533C30.7274 37.6137 30.3536 37.9875 29.8932 37.9875C29.4328 37.9875 29.0591 37.6137 29.0591 37.1533C29.0591 36.6929 29.4328 36.3191 29.8932 36.3191Z" fill="white"/>
                                <path d="M97.6286 54.7544C98.089 54.7544 98.4628 55.1282 98.4628 55.5886C98.4628 56.049 98.089 56.4228 97.6286 56.4228C97.1682 56.4228 96.7944 56.049 96.7944 55.5886C96.7944 55.1282 97.1682 54.7544 97.6286 54.7544Z" fill="white"/>
                                <path d="M92.3733 27.6436C92.8337 27.6436 93.2075 28.0174 93.2075 28.4777C93.2075 28.9381 92.8337 29.3119 92.3733 29.3119C91.9129 29.3119 91.5391 28.9381 91.5391 28.4777C91.5391 28.0174 91.9129 27.6436 92.3733 27.6436Z" fill="white"/>
                                <path d="M62.4262 12.4615C62.8866 12.4615 63.2604 12.8353 63.2604 13.2957C63.2604 13.7561 62.8866 14.1299 62.4262 14.1299C61.9658 14.1299 61.592 13.7561 61.592 13.2957C61.592 12.8353 61.9658 12.4615 62.4262 12.4615Z" fill="white"/>
                                <path d="M35.1486 19.3018C35.6089 19.3018 35.9827 19.6756 35.9827 20.1359C35.9827 20.5963 35.6089 20.9701 35.1486 20.9701C34.6882 20.9701 34.3144 20.5963 34.3144 20.1359C34.3144 19.6756 34.6882 19.3018 35.1486 19.3018Z" fill="white"/>
                                <path d="M36.3164 74.2743C36.7768 74.2743 37.1506 74.6481 37.1506 75.1085C37.1506 75.5689 36.7768 75.9427 36.3164 75.9427C35.856 75.9427 35.4822 75.5689 35.4822 75.1085C35.4822 74.6481 35.856 74.2743 36.3164 74.2743Z" fill="white"/>
                                <path d="M97.2949 82.6161C97.7553 82.6161 98.1291 82.9899 98.1291 83.4503C98.1291 83.9107 97.7553 84.2844 97.2949 84.2844C96.8346 84.2844 96.4608 83.9107 96.4608 83.4503C96.4608 82.9899 96.8346 82.6161 97.2949 82.6161Z" fill="white"/>
                                <path d="M80.3611 64.7646C80.8215 64.7646 81.1953 65.1384 81.1953 65.5988C81.1953 66.0592 80.8215 66.433 80.3611 66.433C79.9007 66.433 79.5269 66.0592 79.5269 65.5988C79.5269 65.1384 79.9007 64.7646 80.3611 64.7646Z" fill="white"/>
                                <path d="M62.7599 78.7788C63.2203 78.7788 63.5941 79.1526 63.5941 79.613C63.5941 80.0734 63.2203 80.4472 62.7599 80.4472C62.2995 80.4472 61.9257 80.0734 61.9257 79.613C61.9257 79.1526 62.2995 78.7788 62.7599 78.7788Z" fill="white"/>
                                <path d="M86.3318 14.4293C86.5983 14.4293 86.8148 14.6457 86.8148 14.9123C86.8148 15.1789 86.5983 15.3953 86.3318 15.3953C86.0652 15.3953 85.8488 15.1789 85.8488 14.9123C85.8488 14.6457 86.0652 14.4293 86.3318 14.4293Z" fill="white"/>
                                <path d="M107.1 40.39C107.367 40.39 107.583 40.6064 107.583 40.873C107.583 41.1396 107.367 41.356 107.1 41.356C106.834 41.356 106.617 41.1396 106.617 40.873C106.617 40.6064 106.834 40.39 107.1 40.39Z" fill="white"/>
                                <path d="M80.9585 32.8433C81.2251 32.8433 81.4415 33.0597 81.4415 33.3263C81.4415 33.5928 81.2251 33.8092 80.9585 33.8092C80.692 33.8092 80.4755 33.5928 80.4755 33.3263C80.4755 33.0597 80.692 32.8433 80.9585 32.8433Z" fill="white"/>
                                <path d="M53.9111 28.5568C54.1777 28.5568 54.3941 28.7732 54.3941 29.0398C54.3941 29.3063 54.1777 29.5227 53.9111 29.5227C53.6445 29.5227 53.4281 29.3063 53.4281 29.0398C53.4281 28.7732 53.6445 28.5568 53.9111 28.5568Z" fill="white"/>
                                <path d="M47.9945 17.7499C48.2611 17.7499 48.4775 17.9663 48.4775 18.2329C48.4775 18.4994 48.2611 18.7159 47.9945 18.7159C47.7279 18.7159 47.5115 18.4994 47.5115 18.2329C47.5115 17.9663 47.7279 17.7499 47.9945 17.7499Z" fill="white"/>
                                <path d="M42.259 4.10535C42.5256 4.10535 42.742 4.32177 42.742 4.58834C42.742 4.8549 42.5256 5.07133 42.259 5.07133C41.9924 5.07133 41.776 4.8549 41.776 4.58834C41.776 4.32177 41.9924 4.10535 42.259 4.10535Z" fill="white"/>
                                <path d="M15.3927 12.1954C15.6593 12.1954 15.8757 12.4119 15.8757 12.6784C15.8757 12.945 15.6593 13.1614 15.3927 13.1614C15.1262 13.1614 14.9097 12.945 14.9097 12.6784C14.9097 12.4119 15.1262 12.1954 15.3927 12.1954Z" fill="white"/>
                                <path d="M25.4147 28.6171C25.6813 28.6171 25.8977 28.8335 25.8977 29.1001C25.8977 29.3666 25.6813 29.583 25.4147 29.583C25.1482 29.583 24.9317 29.3666 24.9317 29.1001C24.9317 28.8335 25.1482 28.6171 25.4147 28.6171Z" fill="white"/>
                                <path d="M13.2796 46.1255C13.5462 46.1255 13.7626 46.3419 13.7626 46.6085C13.7626 46.875 13.5462 47.0915 13.2796 47.0915C13.0131 47.0915 12.7966 46.875 12.7966 46.6085C12.7966 46.3419 13.0131 46.1255 13.2796 46.1255Z" fill="white"/>
                                <path d="M42.0779 39.7863C42.3444 39.7863 42.5609 40.0027 42.5609 40.2692C42.5609 40.5358 42.3444 40.7522 42.0779 40.7522C41.8113 40.7522 41.5949 40.5358 41.5949 40.2692C41.5949 40.0027 41.8113 39.7863 42.0779 39.7863Z" fill="white"/>
                                <path d="M55.2997 56.3286C55.5663 56.3286 55.7827 56.545 55.7827 56.8116C55.7827 57.0782 55.5663 57.2946 55.2997 57.2946C55.0331 57.2946 54.8167 57.0782 54.8167 56.8116C54.8167 56.545 55.0331 56.3286 55.2997 56.3286Z" fill="white"/>
                                <path d="M12.6155 62.1245C12.8821 62.1245 13.0985 62.3409 13.0985 62.6075C13.0985 62.8741 12.8821 63.0905 12.6155 63.0905C12.349 63.0905 12.1325 62.8741 12.1325 62.6075C12.1325 62.3409 12.349 62.1245 12.6155 62.1245Z" fill="white"/>
                                <path d="M49.685 71.422C49.9515 71.422 50.1679 71.6384 50.1679 71.905C50.1679 72.1715 49.9515 72.388 49.685 72.388C49.4184 72.388 49.202 72.1715 49.202 71.905C49.202 71.6384 49.4184 71.422 49.685 71.422Z" fill="white"/>
                                <path d="M16.7813 80.1158C17.0479 80.1158 17.2643 80.3323 17.2643 80.5988C17.2643 80.8654 17.0479 81.0818 16.7813 81.0818C16.5148 81.0818 16.2983 80.8654 16.2983 80.5988C16.2983 80.3323 16.5148 80.1158 16.7813 80.1158Z" fill="white"/>
                                <path d="M35.9801 83.4968C36.2467 83.4968 36.4631 83.7133 36.4631 83.9798C36.4631 84.2464 36.2467 84.4628 35.9801 84.4628C35.7136 84.4628 35.4971 84.2464 35.4971 83.9798C35.4971 83.7133 35.7136 83.4968 35.9801 83.4968Z" fill="white"/>
                                <path d="M36.6442 102.273C36.9108 102.273 37.1272 102.489 37.1272 102.756C37.1272 103.023 36.9108 103.239 36.6442 103.239C36.3777 103.239 36.1613 103.023 36.1613 102.756C36.1613 102.489 36.3777 102.273 36.6442 102.273Z" fill="white"/>
                                <path d="M16.6002 100.462C16.8668 100.462 17.0832 100.678 17.0832 100.945C17.0832 101.211 16.8668 101.428 16.6002 101.428C16.3336 101.428 16.1172 101.211 16.1172 100.945C16.1172 100.678 16.3336 100.462 16.6002 100.462Z" fill="white"/>
                                <path d="M58.8617 87.421C59.1283 87.421 59.3447 87.6374 59.3447 87.904C59.3447 88.1706 59.1283 88.387 58.8617 88.387C58.5952 88.387 58.3788 88.1706 58.3788 87.904C58.3788 87.6374 58.5952 87.421 58.8617 87.421Z" fill="white"/>
                                <path d="M50.7113 97.8657C50.9779 97.8657 51.1943 98.0822 51.1943 98.3487C51.1943 98.6153 50.9779 98.8317 50.7113 98.8317C50.4447 98.8317 50.2283 98.6153 50.2283 98.3487C50.2283 98.0822 50.4447 97.8657 50.7113 97.8657Z" fill="white"/>
                                <path d="M76.3097 110.061C76.5763 110.061 76.7927 110.278 76.7927 110.544C76.7927 110.811 76.5763 111.027 76.3097 111.027C76.0432 111.027 75.8268 110.811 75.8268 110.544C75.8268 110.278 76.0432 110.061 76.3097 110.061Z" fill="white"/>
                                <path d="M88.3241 95.6923C88.5906 95.6923 88.8071 95.9087 88.8071 96.1753C88.8071 96.4418 88.5906 96.6582 88.3241 96.6582C88.0575 96.6582 87.8411 96.4418 87.8411 96.1753C87.8411 95.9087 88.0575 95.6923 88.3241 95.6923Z" fill="white"/>
                                <path d="M103.901 108.19C104.167 108.19 104.383 108.406 104.383 108.673C104.383 108.939 104.167 109.156 103.901 109.156C103.634 109.156 103.418 108.939 103.418 108.673C103.418 108.406 103.634 108.19 103.901 108.19Z" fill="white"/>
                                <path d="M103.901 108.19C104.167 108.19 104.383 108.406 104.383 108.673C104.383 108.939 104.167 109.156 103.901 109.156C103.634 109.156 103.418 108.939 103.418 108.673C103.418 108.406 103.634 108.19 103.901 108.19Z" fill="white"/>
                                <path d="M107.402 85.4287C107.669 85.4287 107.885 85.6451 107.885 85.9117C107.885 86.1783 107.669 86.3947 107.402 86.3947C107.136 86.3947 106.919 86.1783 106.919 85.9117C106.919 85.6451 107.136 85.4287 107.402 85.4287Z" fill="white"/>
                                <path d="M108.006 70.0938C108.272 70.0938 108.489 70.3102 108.489 70.5767C108.489 70.8433 108.272 71.0597 108.006 71.0597C107.739 71.0597 107.523 70.8433 107.523 70.5767C107.523 70.3102 107.739 70.0938 108.006 70.0938Z" fill="white"/>
                                <path d="M74.4382 74.0785C74.7047 74.0785 74.9211 74.2949 74.9211 74.5615C74.9211 74.828 74.7047 75.0445 74.4382 75.0445C74.1716 75.0445 73.9552 74.828 73.9552 74.5615C73.9552 74.2949 74.1716 74.0785 74.4382 74.0785Z" fill="white"/>
                                <path d="M85.9695 62.0641C86.2361 62.0641 86.4525 62.2805 86.4525 62.5471C86.4525 62.8136 86.2361 63.0301 85.9695 63.0301C85.703 63.0301 85.4865 62.8136 85.4865 62.5471C85.4865 62.2805 85.703 62.0641 85.9695 62.0641Z" fill="white"/>
                                <path d="M103.357 50.5931C103.624 50.5931 103.84 50.8096 103.84 51.0761C103.84 51.3427 103.624 51.5591 103.357 51.5591C103.091 51.5591 102.874 51.3427 102.874 51.0761C102.874 50.8096 103.091 50.5931 103.357 50.5931Z" fill="white"/>
                                <path d="M84.762 43.5897C85.0286 43.5897 85.245 43.8061 85.245 44.0727C85.245 44.3393 85.0286 44.5557 84.762 44.5557C84.4955 44.5557 84.2791 44.3393 84.2791 44.0727C84.2791 43.8061 84.4955 43.5897 84.762 43.5897Z" fill="white"/>
                                <path d="M11.6099 0.778793C23.1145 -3.86713 43.8288 -10.4115 59.3941 -14.3118C76.3579 -18.5623 116.418 -25.646 120.601 -25.7177C125.682 -25.8059 132.954 -25.7101 134.589 -31.8843C136.448 -38.9075 128.611 -41.7249 123.116 -41.6174C118.927 -41.5357 77.3274 -35.4391 60.9694 -30.2403C36.9577 -22.6089 17.364 -14.0903 6.85349 -7.3573C1.81977 -4.13271 5.91867 3.07678 11.6099 0.778793Z" fill="#D6FF66"/>
                                <path d="M50.7153 127.716L51.0903 127.703C50.4833 128.11 49.7586 128.36 48.977 128.387L44.4065 128.547C42.1671 128.625 40.2736 126.86 40.1955 124.623L39.4341 102.821C39.2675 98.0496 43.001 94.0467 47.772 93.8801C48.9778 93.838 50.0829 94.3328 50.8622 95.1443C50.9787 95.2699 51.0921 95.4026 51.1955 95.5428C46.0588 108.021 50.7153 127.716 50.7153 127.716Z" fill="#ECEDE7"/>
                                <path d="M50.7153 127.716L51.0903 127.703C50.4833 128.111 49.7587 128.36 48.977 128.388L46.352 128.479C46.2 125.93 45.9322 121.374 45.4923 113.498C44.957 103.906 48.3405 98.096 50.8622 95.1447C50.9788 95.2703 51.0921 95.403 51.1955 95.5432C46.0588 108.022 50.7153 127.716 50.7153 127.716Z" fill="#DBDDD3"/>
                                <path d="M77.8916 127.182L50.3162 128.145C50.3162 128.145 45.6598 108.45 50.7964 95.9716C51.6921 93.789 52.8904 91.8279 54.4628 90.2326C54.4628 90.2326 54.5669 90.2957 54.7639 90.4079C56.3819 91.3202 63.2305 90.8357 72.441 90.1211C72.441 90.1211 73.5708 94.7867 73.5785 94.8108C73.6867 95.102 74.4703 97.2397 75.385 100.422C77.3414 107.21 79.9197 118.739 77.8916 127.182Z" fill="#F7FBEE"/>
                                <path d="M74.2295 97.533C64.1976 95.1357 54.4628 90.2325 54.4628 90.2325C54.4628 90.2325 62.119 91.1644 72.4494 90.3618C72.4494 90.3618 73.2432 94.104 74.2295 97.533Z" fill="#DBDDD3"/>
                                <path d="M54.4632 90.2326C54.4632 90.2326 48.0496 112.669 53.937 128.018L50.3166 128.145C50.3166 128.145 45.6602 108.45 50.7968 95.9716C51.6924 93.7894 52.8907 91.8279 54.4632 90.2326Z" fill="#E2E4DC"/>
                                <path d="M74.4711 69.8631C77.4405 74.805 77.6128 80.6419 75.4479 85.5431C74.8233 86.9616 73.9978 88.3042 72.9893 89.5201C71.7956 90.9652 70.3373 92.2342 68.6389 93.2547C64.1749 95.937 58.9768 96.3359 54.3989 94.7904C54.2343 94.7341 54.0693 94.6779 53.9056 94.6166C50.4106 93.3208 47.3165 90.8678 45.2466 87.4229C40.3988 79.3549 43.0114 68.8787 51.0795 64.0309C52.2817 63.3086 53.5425 62.7512 54.8251 62.3529C58.7713 61.1313 62.9711 61.4145 66.6477 63.006C69.8008 64.3724 72.5691 66.6977 74.4711 69.8631Z" fill="#F7FBEE"/>
                                <path d="M74.4711 69.8631C77.4405 74.8049 77.6128 80.6418 75.4479 85.543C70.1276 86.8615 63.246 87.5557 63.246 87.5557C59.9524 82.471 56.549 75.5793 56.549 75.5793C58.6271 71.6227 64.2289 65.5439 66.648 63.0062C69.801 64.3726 72.5691 66.6977 74.4711 69.8631Z" fill="black"/>
                                <path d="M67.2106 64.4076C67.2106 64.4076 78.7822 70.1248 75.3055 84.6508C75.3055 84.6508 76.2047 74.9273 67.2106 64.4076Z" fill="#3F3F3F"/>
                                <path d="M63.6868 78.6745C65.4804 81.6594 64.5163 85.5361 61.5284 87.3314C61.3539 87.4363 61.1773 87.5304 60.9999 87.6165C58.0972 89.0087 54.5603 87.9837 52.8715 85.173C51.0762 82.1851 52.0404 78.3087 55.0283 76.5134C55.6837 76.1196 56.382 75.8589 57.0901 75.7239C59.6138 75.2387 62.2853 76.3419 63.6868 78.6745Z" fill="#ECEDE7"/>
                                <path d="M61.0004 87.6166C58.0978 89.0088 54.5605 87.984 52.8717 85.1733C51.0764 82.1854 52.0404 78.3087 55.0286 76.5132C55.6837 76.1196 56.3824 75.8595 57.0909 75.7243C55.8613 78.3285 54.4743 83.6662 61.0004 87.6166Z" fill="#DBDDD3"/>
                                <path d="M54.8251 62.3529C50.1881 68.0561 42.2431 81.2457 53.9059 94.6164C50.4106 93.3209 47.3168 90.8676 45.2469 87.4228C40.3992 79.3547 43.0109 68.8786 51.0789 64.0308C52.2811 63.3085 53.5425 62.7512 54.8251 62.3529Z" fill="#E2E4DC"/>
                                <path d="M60.4469 80.7329C61.224 82.0264 60.8054 83.7055 59.5116 84.4829C58.2182 85.26 56.5394 84.8412 55.7622 83.5478C54.9849 82.254 55.4034 80.5754 56.6968 79.7982C57.9905 79.0209 59.6695 79.4392 60.4469 80.7329Z" fill="#F7FBEE"/>
                                <path d="M60.4469 80.7329C61.224 82.0264 60.8054 83.7055 59.5116 84.4829C58.2182 85.26 56.5394 84.8412 55.7622 83.5478C54.9849 82.254 55.4034 80.5754 56.6968 79.7982C57.9905 79.0209 59.6695 79.4392 60.4469 80.7329Z" stroke="#DBDBDB" stroke-width="2.4288" stroke-miterlimit="10"/>
                                <path d="M66.0815 67.6475C66.2453 67.8232 66.2357 68.098 66.06 68.2619C65.8846 68.4255 65.6095 68.4161 65.4456 68.2404C65.282 68.065 65.2917 67.7896 65.4671 67.626C65.6428 67.4622 65.9179 67.472 66.0815 67.6475Z" fill="#ECEDE7"/>
                                <path d="M68.9722 69.6319C69.0747 69.7418 69.0684 69.9134 68.9588 70.0156C68.849 70.1181 68.677 70.1127 68.5745 70.0028C68.4723 69.8932 68.4786 69.721 68.5885 69.6185C68.6981 69.5163 68.87 69.5223 68.9722 69.6319Z" fill="#ECEDE7"/>
                                <path d="M70.2472 72.7514C70.3494 72.861 70.3434 73.0329 70.2338 73.1352C70.1239 73.2376 69.9517 73.2319 69.8495 73.1223C69.7473 73.0127 69.7535 72.8405 69.8634 72.738C69.973 72.6358 70.1449 72.6418 70.2472 72.7514Z" fill="#ECEDE7"/>
                                <path d="M66.2492 71.6513C66.372 71.7829 66.3648 71.9893 66.2332 72.1121C66.1015 72.2348 65.8951 72.2276 65.7723 72.096C65.6496 71.9644 65.6568 71.7579 65.7884 71.6352C65.9201 71.5124 66.1265 71.5196 66.2492 71.6513Z" fill="#ECEDE7"/>
                                <path d="M72.8875 77.4952C73.0922 77.7147 73.0799 78.0588 72.8604 78.2635C72.6409 78.4682 72.2973 78.4559 72.0927 78.2364C71.888 78.0169 71.8997 77.6733 72.1192 77.4687C72.3387 77.264 72.6828 77.2757 72.8875 77.4952Z" fill="#ECEDE7"/>
                                <path d="M68.4344 76.2246C68.4958 76.2904 68.4922 76.3934 68.4264 76.4547C68.3606 76.5161 68.2571 76.513 68.1957 76.4472C68.1343 76.3814 68.1385 76.2779 68.2043 76.2166C68.2701 76.1552 68.3731 76.1588 68.4344 76.2246Z" fill="#ECEDE7"/>
                                <path d="M74.8447 81.9837C74.9469 82.0933 74.9409 82.2652 74.8313 82.3675C74.7214 82.4699 74.5492 82.4642 74.447 82.3546C74.3448 82.245 74.3511 82.0728 74.461 81.9703C74.5706 81.8681 74.7425 81.8741 74.8447 81.9837Z" fill="#ECEDE7"/>
                                <path d="M73.3067 75.3956C73.4089 75.5052 73.4029 75.6771 73.2933 75.7793C73.1834 75.8818 73.0112 75.876 72.909 75.7664C72.8068 75.6568 72.8131 75.4846 72.923 75.3822C73.0326 75.28 73.2045 75.286 73.3067 75.3956Z" fill="#ECEDE7"/>
                                <path d="M70.7512 82.5329C70.8534 82.6425 70.8474 82.8144 70.7378 82.9166C70.6279 83.0191 70.4557 83.0134 70.3535 82.9038C70.2513 82.7942 70.2575 82.622 70.3674 82.5195C70.477 82.4173 70.6489 82.4233 70.7512 82.5329Z" fill="#ECEDE7"/>
                                <path d="M67.0409 77.5985C67.1637 77.7302 67.1565 77.9366 67.0248 78.0594C66.8932 78.1821 66.6868 78.1749 66.564 78.0433C66.4413 77.9116 66.4485 77.7052 66.5801 77.5825C66.7118 77.4597 66.9182 77.4669 67.0409 77.5985Z" fill="#ECEDE7"/>
                                <path d="M62.7963 72.5682C62.8985 72.6778 62.8925 72.8497 62.7829 72.9519C62.6731 73.0544 62.5008 73.0487 62.3986 72.939C62.2964 72.8294 62.3027 72.6573 62.4126 72.5548C62.5222 72.4526 62.6941 72.4586 62.7963 72.5682Z" fill="#ECEDE7"/>
                                <path d="M62.1702 75.0833C62.2724 75.1929 62.2664 75.3649 62.1568 75.4671C62.047 75.5695 61.8747 75.5638 61.7725 75.4542C61.6703 75.3446 61.6766 75.1724 61.7865 75.0699C61.8961 74.9677 62.068 74.9737 62.1702 75.0833Z" fill="#ECEDE7"/>
                                <path d="M65.3055 74.4627C65.3463 74.5065 65.3439 74.5755 65.3001 74.6163C65.2563 74.6572 65.1874 74.6548 65.1465 74.611C65.1057 74.5672 65.1081 74.4982 65.1519 74.4574C65.1957 74.4165 65.2647 74.419 65.3055 74.4627Z" fill="#ECEDE7"/>
                                <path d="M63.3487 68.859C63.3895 68.9028 63.3871 68.9718 63.3433 69.0126C63.2995 69.0534 63.2305 69.051 63.1897 69.0072C63.1489 68.9634 63.1513 68.8944 63.1951 68.8536C63.2388 68.8128 63.3078 68.8152 63.3487 68.859Z" fill="#ECEDE7"/>
                                <path d="M69.8838 79.8503C69.9246 79.8941 69.9222 79.9631 69.8784 80.0039C69.8346 80.0447 69.7656 80.0423 69.7248 79.9986C69.684 79.9548 69.6864 79.8858 69.7302 79.8449C69.774 79.8041 69.843 79.8065 69.8838 79.8503Z" fill="#ECEDE7"/>
                                <path d="M69.5113 83.9117C69.5932 83.9995 69.5884 84.137 69.5005 84.2189C69.4127 84.3008 69.2753 84.296 69.1933 84.2082C69.1114 84.1203 69.1162 83.9829 69.2041 83.901C69.2919 83.819 69.4293 83.8238 69.5113 83.9117Z" fill="#ECEDE7"/>
                                <path d="M72.9165 83.2619C72.9574 83.3057 72.9549 83.3747 72.9112 83.4155C72.8674 83.4564 72.7984 83.454 72.7576 83.4102C72.7167 83.3664 72.7191 83.2974 72.7629 83.2566C72.8067 83.2157 72.8757 83.2181 72.9165 83.2619Z" fill="#ECEDE7"/>
                                <path d="M75.0579 79.1852C75.1807 79.3168 75.1734 79.5233 75.0418 79.646C74.9102 79.7688 74.7038 79.7616 74.581 79.6299C74.4582 79.4983 74.4655 79.2919 74.5971 79.1691C74.7287 79.0464 74.9352 79.0536 75.0579 79.1852Z" fill="#ECEDE7"/>
                                <path d="M70.4867 138.845C70.562 138.413 70.133 125.767 70.1171 125.312L69.3178 102.423C69.2556 100.643 68.4699 99.0456 67.2513 97.9126C66.0361 96.7794 64.3914 96.1069 62.6075 96.1692C62.2222 96.1827 61.8446 96.231 61.4791 96.3105C58.4696 96.9524 56.2425 99.697 56.3535 102.876L57.1528 125.765C57.1687 126.22 57.6949 138.862 57.8002 139.288L70.4867 138.845Z" fill="#ECEDE7"/>
                                <path d="M60.6013 139.19C60.0963 132.093 59.7352 111.056 59.6945 106.002C59.6546 101.143 60.621 98.0709 61.4792 96.3109C58.4697 96.9529 56.2425 99.6974 56.3535 102.876L57.1528 125.765C57.1687 126.22 57.6949 138.862 57.7998 139.288L60.6013 139.19Z" fill="#DBDDD3"/>
                                <path d="M67.7931 109.35L57.9942 109.692L57.761 103.014L67.5599 102.672L67.7931 109.35ZM58.3326 109.329L67.4306 109.012L67.2219 103.035L58.1238 103.352L58.3326 109.329Z" fill="black"/>
                                <path d="M61.543 105.021L58.0109 105.145L57.9424 103.183L61.4744 103.059L61.543 105.021Z" fill="black"/>
                                <path d="M58.0628 105.408L67.5995 105.075L67.5873 104.724L58.0506 105.057L58.0628 105.408Z" fill="black"/>
                                <path d="M58.1398 107.612L67.6765 107.279L67.6642 106.929L58.1276 107.262L58.1398 107.612Z" fill="black"/>
                                <path d="M55.0208 84.7826C55.0208 84.7826 45.251 85.9253 44.249 93.3496C43.8366 96.4056 44.8058 100.638 44.8058 100.638" stroke="#ECEDE7" stroke-width="11.8087" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M64.346 28.3421C58.9926 28.9943 55.8194 32.1006 56.2093 35.4281C56.5992 38.7557 61.2945 40.0551 64.759 40.2449C68.2234 40.4346 74.1056 36.6733 74.1056 36.6733C74.1056 36.6733 73.0367 36.2035 71.8038 34.8347C75.9983 33.9862 80.0037 31.3794 80.0037 31.3794C80.0037 31.3794 75.0782 30.913 70.6985 30.9359C72.5531 29.14 73.4854 28.8646 73.4854 28.8646C73.4854 28.8646 69.6994 27.6898 64.346 28.3421Z" fill="#BAFF00"/>
                                <path d="M63.067 30.1424C59.2125 30.6121 56.1293 33.1522 56.41 35.5481C56.6907 37.944 58.0724 37.9784 60.533 38.4103C65.8809 39.3489 69.6426 36.833 69.6426 36.833C69.6426 36.833 68.1171 35.8993 66.8214 34.7482C70.4731 34.8681 72.2521 33.051 72.2521 33.051C72.2521 33.051 70.4463 31.8024 66.5366 32.6643C65.3576 32.9242 68.8489 30.8223 68.8489 30.8223C68.8489 30.8223 66.9215 29.6728 63.067 30.1424Z" fill="#BAFF00"/>
                                <path d="M53.3049 42.9076C53.9468 46.8154 58.8776 48.6689 59.0304 48.7266C59.0328 48.7285 59.0351 48.7281 59.0351 48.7281C51.0737 51.7256 46.978 44.9407 46.978 44.9407L49.9246 43.9934L53.3049 42.9076Z" fill="#D6FF66"/>
                                <path d="M53.3049 42.9076C53.9468 46.8153 58.8775 48.6689 59.0304 48.7265C58.8197 48.7253 52.1925 48.6299 49.9246 43.9934L53.3049 42.9076Z" fill="#B3E723"/>
                                <path d="M51.0885 29.414C50.4467 25.5063 54.5254 22.1729 54.6518 22.0693C54.6535 22.0667 54.6557 22.0664 54.6557 22.0664C46.1538 21.7731 44.4437 29.5117 44.4437 29.5117L47.5385 29.4666L51.0885 29.414Z" fill="#D6FF66"/>
                                <path d="M51.0885 29.414C50.4467 25.5062 54.5254 22.1728 54.6518 22.0693C54.4526 22.1378 48.2041 24.3481 47.5385 29.4665L51.0885 29.414Z" fill="#BCE645"/>
                                <path d="M46.5017 29.3402L51.5433 29.2933C52.2996 29.2861 52.9479 29.8316 53.0705 30.5777L54.8157 41.2028C54.9382 41.9487 54.4986 42.6727 53.7803 42.9082L48.9882 44.4784C43.797 46.1771 38.2392 45.944 33.0426 43.8476C33.2796 42.4971 33.4975 39.7912 32.4088 36.4603C32.2408 35.9418 32.0413 35.4085 31.8035 34.861C36.0145 31.3225 41.1271 29.3904 46.5017 29.3402Z" fill="#D6FF66"/>
                                <path d="M31.8035 34.861C32.0412 35.4082 32.2408 35.9419 32.4088 36.4603C33.4975 39.7909 33.2796 42.4971 33.0426 43.8476C31.0914 43.0601 29.1927 42.009 27.3818 40.6993C27.2165 40.5789 27.0512 40.4582 26.8852 40.3333C27.0033 40.1661 27.1209 39.9969 27.2393 39.832C28.5923 37.9311 30.1256 36.2692 31.8035 34.861Z" fill="#D6FF66"/>
                                <path d="M37.8375 34.7069C40.0301 34.3467 42.0997 35.8325 42.4598 38.0251C42.82 40.2179 41.3344 42.2874 39.1419 42.6476C36.9493 43.0077 34.8798 41.5221 34.5196 39.3293C34.1594 37.1367 35.645 35.067 37.8375 34.7069Z" fill="#E1EEBD"/>
                                <path d="M35.492 38.9597C35.492 38.9597 38.0187 42.0824 41.2719 40.3507C41.2719 40.3507 40.4455 42.6089 37.5156 42.0017C35.1869 41.519 35.492 38.9597 35.492 38.9597Z" fill="#F6F8F1"/>
                                <path d="M57.9593 31.89L59.1091 38.8903C59.2684 39.8602 58.4693 40.7189 57.4899 40.629L56.0469 40.4967L54.3767 40.3436L53.1048 32.0005L54.5452 31.3543L55.8624 30.7619C56.761 30.3592 57.7993 30.9158 57.9593 31.89Z" fill="#D6FF66"/>
                                <path d="M54.5452 31.354L56.0469 40.4966L54.3767 40.3436L53.1048 32.0002L54.5452 31.354Z" fill="#B7DD4F"/>
                                <path d="M59.6468 35.5006C59.3569 35.5482 45.2896 41.9368 44.6692 38.1599C44.6581 38.0923 44.652 38.0286 44.6524 37.9635C44.5968 34.4227 59.6468 35.5006 59.6468 35.5006Z" fill="#D6FF66"/>
                                <path d="M59.6468 35.5006L44.6524 37.9635C44.5968 34.4227 59.6468 35.5006 59.6468 35.5006Z" fill="#BCE645"/>
                                </g>
                                </g>
                                </svg>

                        </div>
                    </div>
                </div>
                <div class="h-auto hero-line-2 flex flex-col text-3xl sm:text-[6.5rem] line-height font-stretchPro gradient-customers  ">
                        <h1>WE TURNN</h1>
                        <h1 class=" ">
                            CUSTOOMERS
                        </h1>
                        <div class="flex items-center" >
                            INT<dotlottie-player
                                class= "  sm:mt-8 w-[100px] sm:w-[260px] inline-block"
                                src={weTurnCustomers} 
                                background="transparent" speed="1" 
                                loop autoplay>
                            </dotlottie-player>FANSS 
                        </div>
                </div>
            </div>
            <div class="flex h-auto items-center hero-line-2 gap-4">
                <div class=" w-[60px]  sm:w-[80px]">
                    <img src={decor.src} alt="decoration"/>
                </div>
                <div class=" font-glancyrThin hero-line-2 text-grey-text text-xs sm:text-xl mt-4 sm:mt-6 sm:mr-6 ">
                    While delivering creative experiences and media strategies that supercharge 
                    campaigns  <br> to achieve sustainable business
                    growth and skyrocket reach and engagement.
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="flex px-5 sm:px-20 flex-col gap-6 sm:gap-0 sm:flex-row h-auto hero-line-3 mb-10 sm:mb-20 relative ">
        <div class=" sm:w-[40%] h-full z-0 ">
            <video autoplay class=" w-screen sm:max-w-[600px] hero-line-3 " loop muted src={robotSpinning}></video>
        </div>
        <div class=" sm:absolute left-[30%] flex h-full hero-line-3 text-center flex-col items-center justify-center z-10 sm:pt-20 sm:pr-10">
              <div class=" font-glancyrRegular hero-line-3 text-base mb-2 sm:mb-8 sm:text-6xl bg-clip-text text-transparent gradient-text1 "> 
                WE KNOW THE VALUE OF YOUR WORK, IT'S TIME YOUR CUSTOMER'S DID TOO!
              </div>
              <p class=" font-glancyrThin  hero-line-3 mb-8 text-[clamp(12px,1.5vw,32px)] box-shadow6 ">
                  You've put your heart and soul into your business, but hardwork
                  can't get you so far and a poor brand presence will have you working
                  overtime and not seeing any results. So it's time to set yourself as the industry leader you've become
                  with a kick-ass brand your customers genuinely love. A <span class=" text-neon-green">WEBSITE</span> and <span class=" text-neon-green">BRAND IDENTITY</span> that works as hard as you do!
              </p>
              <div class="flex w-full h-full justify-end ">
                    <div class ="flex items-end hero-line-3  ">
                        <div class="flex items-center gap-4 ">
                            <p class=" text-xs sm:text-base text-right font-glancyrThin leading-4 "> Have an <span class="font-glancyrItalic">Idea</span> in mind? <br>
                                Get in touch right away!</p>
                            <button data-cursor="pointer2" class="btn border-none h-8 w-48 text-base sm:h-16 sm:w-[300px] text-center sm:text-4xl">
                                <div class="btn__bg">
                                    <span class="btn__bg__layer btn__bg__layer-first"></span>
                                    <span class="btn__bg__layer btn__bg__layer-second"></span>
                                    <span class="btn__bg__layer btn__bg__layer-third"></span>
                                </div>
                                <span class="btn__text-out text-white font-glancyrLight">GET IN TOUCH!</span>
                                <span class="btn__text-in text-white font-glancyrLight">GET IN TOUCH!</span>
                            </button>
                        </div>
                    </div>
                </div>
        </div>
</div>


<div class= "w-full items-center flex py-3 outline outline-1 outline-neon-green">
    <div class="text-wrapper font-glancyrThin text-xs sm:text-2xl">
        <h1>
            ICY STUDIO IS WHERE WEB WIZARDS UNLEASH YOUR DIGITAL ERA
            - TAILORED EXCELLENCE FOR EVERY PIXEL AND BRANDING!
            - WE PARTNER ON BIG AND SMALL PROJECTS WITH ALL KINDS OF CLIENTS&nbsp; 
        </h1>
        <h1>
            ICY STUDIO IS WHERE WEB WIZARDS UNLEASH YOUR DIGITAL ERA
            - TAILORED EXCELLENCE FOR EVERY PIXEL AND BRANDING!
            - WE PARTNER ON BIG AND SMALL PROJECTS WITH ALL KINDS OF CLIENTS&nbsp; 
        </h1>
        <h1>
            ICY STUDIO IS WHERE WEB WIZARDS UNLEASH YOUR DIGITAL ERA
            - TAILORED EXCELLENCE FOR EVERY PIXEL AND BRANDING!
            - WE PARTNER ON BIG AND SMALL PROJECTS WITH ALL KINDS OF CLIENTS&nbsp; 
        </h1>
        
    </div>
</div> 


<style>

    

.text-wrapper {
	display: flex;
	justify-content: flex-start;
	background: #000000;
	overflow: hidden;
}

.text-wrapper h1 {
	white-space: nowrap;
	letter-spacing: 1px;
	animation: move-rtl 26s linear infinite;
}

@keyframes move-rtl {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}


    :root{
        --total-brand: 4;
        --logo-width: 6rem;
        --total-logo-width: calc(var(--total-brand)) * var(--logo-width) * 2;
    }

    
    .slider {
        
        height: 6rem;
        background-color: transparent;
        box-shadow: 0 .8rem 1.4rem -.2rem #ffffff;

        display: flex;
        align-items: center;
        overflow: hidden
    }

    .slider::before,
    .slider::after {
        position: absolute;
        content: "";

        height: 100%;
        width: var(--logo-width);
    }


    .slider ul.brands {
        list-style: none;
        width: var(--total-logo-width);
        display: flex;
        animation: slideLeft 6s linear infinite;
    }

    @keyframes slideLeft {
        100% {
            transform:  translateX(calc(-100%/2));
        }
    }

    ul.brands li.brand-logo {
        width: var(--logo-width);
        font-size: 2rem;
        text-align: center;
        margin-left: 3rem;
    }

    .line-height {
        line-height: 1.1;
    }

    #circle {
        position: relative;
        border-radius: 100%;
        padding: 0px;
        animation: rotate-animation 6s infinite linear ;
        color: white;
    }

    @keyframes rotate-animation {
    from { transform: rotate(0); }
    to { transform: rotate(-360deg); }
    }

    #inner-circle {
    position: absolute;
    top: 15%;  /* Center vertically */
    left: 15%;  /* Center horizontally */
    width: 110px;  /* Example inner circle diameter */
    height: 110px;  /* Example inner circle diameter (ensure square) */
    border-radius: 50%; /* Create a circular shape */
    background-color: transparent; /* Example background color (optional) */
    }

  


.gradientSecondary {
    background: linear-gradient(90deg, #EE4140 35.49%, #B3E823 71.9%);
    background-clip: text;

}

.gradientSecondary2{
    background: linear-gradient(270deg, #EE4140 -12.11%, #B3E823 29.75%);
    background-clip: text;

}

.gradientMultiDisciplinary {
    background: linear-gradient(180deg, #FFFFFF 0%, #999999 100%);
    background-clip: text;
}

.gradient-main {
    background: linear-gradient(90deg, #B3E823 -18.74%, #FFFFFF 100%);
    background-clip: text;
    filter: drop-shadow(4px 9px 4px rgba(0, 0, 0, 1));
}

.gradient-customers {
    background: linear-gradient(1.69deg, #B3E823 -14.96%, #FAD4D4 49.79%, #FFFFFF 98.64%);
    background-clip: text;
    color: transparent;
}

.gradient-text1 {
    background: linear-gradient(360deg, #999999 -41.04%, #FFFFFF 77.83%);
    background-clip: text;
    filter: drop-shadow(-8px 7px 4px rgba(0, 0, 0, 0.8));
}

.box-shadow2{
    text-shadow: 2px 6px 4px rgba(0, 0, 0, 1);
}

.box-shadow3{
    text-shadow: 2px 8px 5.6px rgba(0, 0, 0, 1);
}

.box-shadow4{
    text-shadow: 5px 9px 5.2px rgba(0, 0, 0, 1);
}

.box-shadow5{
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.box-shadow6{
    filter: drop-shadow(-6px 7px 4px rgba(0, 0, 0, 0.96));
}


</style>

<script>
    const degreeToRadian = (angle: number): number => {
        return angle * (Math.PI / 180);
        };

    

    const radius: number = 80;
    const diameter: number = radius * 2;

    const circle: HTMLElement | null = document.querySelector("#circle");
    if (circle) {
    circle.style.width = `${diameter}px`;
    circle.style.height = `${diameter}px`;

        const text: string | undefined = circle.dataset.text;
        if (text) {
            const characters: string[] = text.split("");

            const deltaAngle: number = 360 / characters.length;
            const characterOffsetAngle: number = 8;
            let currentAngle: number = -90;

            characters.forEach((character, index) => {
            const span: HTMLSpanElement = document.createElement("span");
            span.innerText = character;
            const xPos: number = radius * (1 + Math.cos(degreeToRadian(currentAngle)));
            const yPos: number = radius * (1 + Math.sin(degreeToRadian(currentAngle)));

            const transform: string = `translate(${xPos}px, ${yPos}px)`;
            const rotate: string = `rotate(${(index * deltaAngle) + characterOffsetAngle}deg)`;
            span.style.transform = `${transform} ${rotate}`;
            span.style.position = "absolute";
            span.style.transformOrigin = "top left";


            currentAngle += deltaAngle;
            if (circle) circle.appendChild(span);
            });
        }
    }
</script>

<script>
    import { gsap } from 'gsap';
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

//     import splitType from 'split-type';

// const ourText = new splitType('', { types: 'chars' })
// const chars = ourText.chars

// gsap.fromTo(
//   chars,
//   { 
//     y: 100,
//     opacity: 0
//   },
//   {
//     y: 0,
//     opacity: 1,
//     stagger: 0.05,
//     duration: 2,
//     ease: 'power4.out',
//   }
// )

    var tl = gsap.timeline();
   
    //
    var heroAnimation = tl.fromTo('.hero-line-1',{
        autoAlpha: 0,
        y: 55,
        skewY:2,
    }, {
        autoAlpha: 1,
        y: 0,
        skewY: 0,
        delay: 1,
        stagger: 0.25,
        duration: 1.6,
        ease: "power4.out"
    })
    .fromTo(".hero-button-1", {autoAlpha: 0, y: 250}, {autoAlpha: 1, y:0, duration: 1.6, ease: "back.out"}, 1.43)
    .fromTo('.hero-line-5', {
        
        autoAlpha: 0,
        y: -25,
        stagger: {
            each: 0.1,
            from: 'start',
            grid: 'auto',
            ease: 'power4.out',
        }
    }, {
        autoAlpha: 1,
        y: 0,
        duration: 1.5,
    },2.0);


   // hero-line-2 we turn customer line animation
    tl.fromTo('.hero-line-2',{
        autoAlpha: 0,
        y: 70,
        ease: "power4.Out",
    },{
        autoAlpha: 1,
        y: 0,
        delay:0.5,
        duration: 1.5,
        ease: "power4.Out",
        stagger: {
            each: 0.20,
            from: 'start',
            grid: 'auto',
            ease: 'power4.Out',
        },
        scrollTrigger: {
            trigger: ".hero-line-2",
            start: 'top 80%',
            end: 'bottom 70%',
            scrub: 1,
        }
    }).fromTo('.hero-line-3',{
        autoAlpha: 0,
        y: 70,
        ease: "power4.Out",
    },{
        autoAlpha: 1,
        y: 0,
        delay:0.5,
        duration: 1.5,
        ease: "power4.Out",
        stagger: {
            each: 0.20,
            from: 'start',
            grid: 'auto',
            ease: 'power4.Out',
        },
        scrollTrigger: {
            trigger: ".hero-line-3",
            start: 'top 80%',
            end: 'bottom 70%',
            scrub: 1,
        }
    })

  

</script>
