---
import { Image } from "astro:assets";
import star1 from "../images/star1.svg";
import review_Star from "../images/review_Star.svg";

const {
  name = "Alex K.",
  description = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh",
  transparent = false,
} = Astro.props;

const cardClasses = transparent
  ? "border border-[1px] border-solid border-white bg-transparent text-white shadow-[0_18px_35px_rgba(0,0,0,0.22)]"
  : "bg-[linear-gradient(180deg,#C9E481_0%,#B3E823_100%)] text-black shadow-[0_18px_35px_rgba(0,0,0,0.22)]";

const textClasses = transparent ? "text-white" : "text-black";
const starIcon = transparent ? review_Star : star1;
---

<div class={`mt-[clamp(32px,4vw,60px)] w-[clamp(250px,38vw,800px)] shrink-0 rounded-[clamp(20px,2vw,32px)] px-[clamp(20px,2.5vw,48px)] py-[clamp(20px,2.5vw,48px)] ${cardClasses}`}>
  <div class="flex items-center gap-[clamp(2px,0.4vw,8px)]">
    {Array.from({ length: 5 }).map(() => (
      <Image
        src={starIcon}
        alt="Star"
        class="h-[clamp(20px,2vw,36px)] w-[clamp(20px,2vw,36px)]"
      />
    ))}
  </div>

  <div class="mt-[clamp(15px,2vw,32px)] flex items-center gap-[clamp(8px,1vw,16px)]">
    <h3 class={`font-glancyrRegular text-[clamp(20px,2vw,44px)] leading-none ${textClasses}`}>
      {name}
    </h3>

    <div class={`flex size-[clamp(18px,1.8vw,32px)] items-center justify-center rounded-full ${transparent ? 'bg-white text-black' : 'bg-black text-white'} text-[clamp(12px,1vw,18px)] font-bold leading-none `}>
      ✓
    </div>
  </div>

  <p class={`mt-[clamp(12px,1.8vw,28px)] font-glancyrRegular text-[clamp(12px,1.45vw,42px)] leading-[1.15] ${textClasses}`}>
    {description}
  </p>
</div>
